
<h1>Add Landmark</h1>
<form  action="edit" method="post">
  <h2>NAME <input type="text" name="landmark[name]" id ='name' value="<%=@landmark.name%>" required></h2>
  <h2>YEAR COMPLETED <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>" required ></h2>
  <p><input type="submit" name="submit" value="Edit Landmark"></p>
</form>
