
<form  action="create" method="post">
  <h2><input type="text" name="landmark[name]" id ='landmark_name' required></h2>
  <h2><input type="text" name="landmark[year_completed]" id="landmark_year_completed" required ></h2>
  <p><input type="submit" name="submit" value="Create New Landmark"></p>
</form>
